* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

* {
    / border-style: dotted;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
    min-width: 390px;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row-12 {
    height: 100%;
}

#nav-bar {
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
} 

.navigation-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-name {
    font-size: 150%;
    color: white;
    padding: 20px 45px;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.navigation-li {
    color: white;
    padding: 20px 45px;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

#name-nav-bar {
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
}

.name-navigation-name{
    font-size: 250%;
    color: white;
    padding: 20px 45px;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.center-align {
    text-align: center;
}

.home-image {
    position: relative;
    z-index: 0;
    height: auto;
    width: 70vw;
}

.mid-nav-bar{

}

.home-image-button-layout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, 0);
}

.home-image-button1 {
    color: white;
    padding: 20px 45px;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border: solid;
    padding: 18px 40px;
    margin-right: 4px;
}

.home-image-button1-hover:hover {
    color: black;
    padding: 20px 45px;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border: solid;
    padding: 18px 40px;
    margin-right: 4px;
    cursor: pointer;
    background-color: white;
    border-color: white;
}

.home-image-button2 {
    color: white;
    padding: 20px 45px;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border: solid;
    padding: 18px 40px;
}

.home-image-button2-hover:hover {
    color: black;
    padding: 20px 45px;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border: solid;
    padding: 18px 40px;
    cursor: pointer;
    background-color: white;
    border-color: white;
}

#main {
    width: 80vw;
    margin: auto;
}

body {
    background-color: #100806;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
