* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'Abel', sans-serif;
}

*{
  /  border-style: dotted;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
    min-width: 390px;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row-12 {
    height: 100%;
}

.intro-body {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.intro-title {
    padding-top: 20vh;
    padding-bottom: 5vh;
    font-size: 650%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 2px black;
}

.intro-button {
    border: solid;
    color: white;
    padding: 20px 45px;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

}

p.intro-button-hover:hover {
    padding: 23px 48px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border: unset;
    cursor: pointer;
}

#callout {
    position: ;
}

.background-image {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.image1 {
    background: url("https://raw.githubusercontent.com/kameoxylon/peterkoehler.co/master/images/image1.jpg") no-repeat center fixed;

}

.image2 {
    background: url("https://raw.githubusercontent.com/kameoxylon/peterkoehler.co/master/images/image2.jpg") no-repeat center fixed;
}

.image3 {
    background: url("https://raw.githubusercontent.com/kameoxylon/peterkoehler.co/master/images/image3.jpg") no-repeat center fixed;
}

.image4 {
    background: url("https://raw.githubusercontent.com/kameoxylon/peterkoehler.co/master/images/image4.jpg") no-repeat center fixed;
}

.image5 {
    background: url("https://raw.githubusercontent.com/kameoxylon/peterkoehler.co/master/images/image5.jpg") no-repeat center fixed;
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
#background-change div:nth-of-type(1) {
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
}
#background-change div:nth-of-type(2) {
  animation-delay: 15s;
  -webkit-animation-delay: 15s;
}
#background-change div:nth-of-type(3) {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
}
#background-change div:nth-of-type(4) {
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

#background-change div:nth-of-type(5) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#background-change div {
animation-name: backgroundchangeFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 25s;

-webkit-animation-name: backgroundchangeFadeInOut;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 25s;

}